

img{
    width:500px ;
    height:450px ;
}
body{
    background-color: rgb(255, 231, 224);
}
h1{
    color: rgb(62, 46, 46);
    text-align: center;
    font-size: 100px;
}
h2{
    color: rgb(62, 46, 46);
    font-size: 50px;
}
.n1{
    margin-left: 500px;
    margin-right: 50px;
    display: flex;
    flex-flow: row;
    gap: 50px;

}
.n2{
    margin-left: 750px;
    margin-right: 100px;
    display: flex;
    flex-flow: row;
    gap: 50px;

}
